<!doctype html>
<html>
<head>
    <title>SSD Project-IT17054546,IT17134804</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->

      <link href="../public/style.css" rel="stylesheet" type="text/css">
    <style>



        body  { 
            padding-top:30px; background-color: darkgray;
        }

        .wrapper {
            position: relative;
            width: 30%;
            height: 10%;
            margin-left: auto;
            margin-right: auto;
            border: thick solid darkslategrey 
        }
        
        .overlay {
            position: absolute;
            bottom: 0;
            width: 10%;
            height: 10%;
            background: rgba(50, 50, 50, 0.5);
        }
    </style>
</head>
<body>


<!-- <div class="container" style="border: thick solid darkslategrey " >
</br>
    <div class="wrapper">
        <img class="img-responsive" src="https://cdn.vox-cdn.com/thumbor/meV-LFX0dJJr_NeHozwnDtTAjeA=/0x0:2040x1360/920x613/filters:focal(857x517:1183x843):format(webp)/cdn.vox-cdn.com/uploads/chorus_image/image/66631495/acastro_191014_1777_google_pixel_0005.0.0.jpg">
    </div>
    <span class="border border-info">
    <div class="jumbotron text-center" style="background-color:gainsboro;">

        <h1></span>Google Drive Upload</h1>

        <p>Login or Register with:</p>

        <a href="<%=url%>" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google</a>
    </div>
</span>
    <div class="card border-dark mb-3" style="max-width: 30rem;">
        <div class="card-header" style="color: indigo;">Created By:</div>
        <div class="card-body text-dark" style="background-color: lightslategrey;">
          <h5 class="card-title"> W.H.M.D.Bandara - IT17054546</h5>
          <h5 class="card-title"> W.W.S. Bhagya - IT17134804</h5>
        </div>
      </div>
</div> -->

 
 
          
    <div class="container"> <br>	<br>		
      <div class="row">
         <div class="col"><img src="https://cdn.windowsreport.com/wp-content/uploads/2018/05/Google-Drive-keeps-crashing.jpg" width="500" height="500" class="Avatar" ></div>
         <div class="col">
           
                <div class="jumbotron text-center" style=" box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2); margin-top: 70px; margin-right: 20px; border-radius: 80px; background-color:rgb(201, 198, 198);">
            
                    <h1></span>Google Drive Upload</h1>
            
                    <p>Login or Register with:</p>
            
                    <a href="<%=url%>" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google</a>
                </div>
 
         </div>
      </div>
              <div class="panel-footer" style="text-align: center;">| Easily Upload Files  to your Google Drive |</div>
      <br> 
 </div> 
<br> <br> <br>

 <footer class="page-footer font-small green">
   
     <div class=" text-center py-3">Created By:
       <a >W.H.M.D.Bandara - IT17054546 | W.W.S. Bhagya - IT17134804  |</a></footer>
     </div>
 </footer>
</body>
</html>